<h4>検索</h4>

<%= search_form_for @q, url: search_path do |f|%>
<div>
  <%= f.label :text, 'title'%>
  <%= f.text_field :text_cont, placeholder: "やること"%>
</div>
<div>
  <%= f.label :datetime, 'duedate'%>
  <%= f.datetime_field :datetime_gteq %>
  〜
  <%= f.datetime_field :datetime_lteq %>
</div>
<%= f.submit value: "検索" %><br>
<% end %>

<ul>
  <% @articles.each do |article| %>
  <li>
    <div>
      <%= article.datetime.strftime('%Y/%m/%d %H:%M') %>まで<br>
      やること：<%= article.text%><%= button_to( "完了", complete_path(article), method: :delete)%>
    </div>
  </li>
  <% end %>
</ul>

<%= paginate @articles %>